@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

header {
  background-color: gold; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
section{
  user-select: none;
  -webkit-user-drag: none;
}
.img-style {
  width: 50px;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
}
.intro-section {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: aliceblue;
}
.intro-content {
    margin: auto;
    font-family: "Nanum Gothic Coding", monospace;
    width: 80%;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 70%;
}
.intro-info{
    padding: 1rem;
    font-size: 1.5rem;
}
.typing-container {
  display: inline-flex; /* Use flexbox for alignment */
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.typing-text {
  display: inline;
}

.cursor {
  display: inline-block; /* Ensure the cursor aligns correctly */
  font-weight: bold;
  color: aliceblue; /* Change color as needed */
  animation: blink 1s step-start infinite;
  position: relative; /* Adjust cursor position relative to text */
  margin-left: 2px; /* Adjust the margin if needed */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


code {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-size: 3rem;
  display: flex;
  text-transform: lowercase;
}
.code-left {
  padding-top: 3rem;
  padding-left: 3rem;
  justify-content: flex-start;
}
.code-right {
  padding-top: 3rem;
  padding-right: 3rem;
  justify-content: flex-end;
}


/* Error Component */
.error-section {
  height: 100%;
  height: 75vh;
}
.error-content {
  margin: auto;
  font-family: "Nanum Gothic Coding", monospace;
  width: 75%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 70%;
}
.error-content h1 {
  padding-bottom: 1.5rem;
}
.error-content p {
  padding-bottom: 1.5rem;
}

/* Contact Component */
.contact-section {
  height: 100%;
  height: 100vh;
  background-color: burlywood;
}
.contact-content {
  margin: auto;
  font-family: "Nanum Gothic Coding", monospace;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
}
.form-group {
  display: flex;
  width: 600px;
  padding: 1rem;
}
.form-group label {
  padding-right: 1rem;
  width: 100px;
}
.form-group input {
  padding: 0.5rem;
  width: 100%;
}
.form-group textarea {

  padding: 0.5rem;
  width: 100%;
  height: 100px;
}
.form-group input,textarea{
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form-group button {
  padding: 0.5rem;
  width: 80px;
  border-radius: 3px;
  border: 1px solid gold;
  background-color:white ;
  color: black;
  font-family: "Nanum Gothic Coding", monospace;
  cursor: pointer;
}
form h2,p {
  padding-bottom: 1.5rem;
}

.form-group button:hover {
  background-color: gold;
  color: white;
}
.contact-img{
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
  background: url('../../assets/contact.png') no-repeat center center/cover;
}

footer{
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
  padding: 1rem;
}
.link-style{
  text-decoration: none;
  color: black;
}
.link-style:hover{
  text-decoration: underline;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .form-contact{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  code{
    font-size: 1.5rem;
  }
  .code-left {
    padding-left: 1rem;

  }
  .code-right {
  padding-right: 1rem;
  }
  .intro-content {
    flex-direction: column;
  }
  .intro-info {
    padding: 1rem;
    font-size: 1rem;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
  .form-group label {
    margin-bottom: 1rem;
    width: 100%;
  }
  .form-group input {
    padding: 0.5rem;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  .form-group textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%;
    height: 100px;
  }

  .form-group button {
    padding: 0.5rem;
    width: 100%;
    border-radius: 3px;
    border: 1px solid gold;
    background-color: white;
    color: black;
    font-family: "Nanum Gothic Coding", monospace;
    cursor: pointer;
  }
  form h2,p {
    padding-bottom: 1.5rem;
  }

  .form-group button:hover {
    background-color: gold;
    color: white;
  }
  .contact-img {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
    background: url('../../assets/contact.png') no-repeat center center/cover;
  }
}